.custom-input-container p {
  margin-bottom: 10px;
}

.custom-input-label::after {
  content: "*";
  margin: 0 5px;
  color: red;
  font-weight: 900;
  height: 32px;
}

.custom-input-container input {
  width: -webkit-fill-available;
  height: 40px;
  outline: none;
  border: 1px solid #ced4da;
  padding: 0 20px;
  border-radius: 5px;
}

.cutom-input-error-msg {
  color: red;
}
