.login-quick-selector-container {
  position: relative;
  width: 400px;
  left: 25%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.login-quick-selector-container .child {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  cursor: pointer;
  /* margin: 60px auto; */
}

.login-quick-selector-container span:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-quick-selector-container .child:hover .delay1 {
  -webkit-animation: waves 2.5s linear infinite;
  animation: waves 2.5s linear infinite;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.login-quick-selector-container .child:hover .delay2 {
  -webkit-animation: waves 2.5s linear 0.7s infinite;
  animation: waves 2.5s linear 0.7s infinite;
}
.login-quick-selector-container .child:hover .delay3 {
  -webkit-animation: waves 2.5s linear 1.3s infinite;
  animation: waves 2.5s linear 1.3s infinite;
}
.login-quick-selector-container .child:hover .delay4 {
  -webkit-animation: waves 2.5s linear 1.9s infinite;
  animation: waves 2.5s linear 1.9s infinite;
}

.circle {
  display: block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #ffbe34;
  margin: 10px;
  transition: 5s ease;
  position: absolute;
  top: 0px;
}

@-webkit-keyframes waves {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
@-webkit-keyframes bloop {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bloop {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
