.rdt_TableCell div {
  width: 100% !important;
}

/* Scollbar Style */

.table-container::-webkit-scrollbar {
  width: 1em;
  height: 15px;
}

.table-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.table-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.rdt_TableRow:nth-last-child(1) .rdt_TableCell {
  background-color: #917fb3 !important;
}

.rdt_TableRow:nth-last-child(2) .rdt_TableCell {
  background-color: #f9e2af !important;
}

.rdt_TableRow:nth-last-child(3) .rdt_TableCell {
  background-color: #bfdce5 !important;
}

.rdt_TableRow:nth-last-child(4) .rdt_TableCell {
  background-color: #ffc6d3 !important;
}

.rdt_TableRow:nth-last-child(5) .rdt_TableCell {
  background-color: #8fe3cf !important;
}

/* Head */
.rdt_TableHeadRow:nth-child(1) .rdt_TableCol:nth-child(2) {
  background-color: #add8e6 !important;
}

.rdt_TableHeadRow:nth-child(1) .rdt_TableCol:nth-child(3) {
  background-color: #ff7f50 !important;
}

.rdt_TableHeadRow:nth-child(1) .rdt_TableCol:nth-child(4) {
  background-color: #ffb6c1 !important;
}
.rdt_TableHeadRow:nth-child(1) .rdt_TableCol:nth-child(5) {
  background-color: #fffacd !important;
}
.rdt_TableHeadRow:nth-child(1) .rdt_TableCol:nth-child(6) {
  background-color: #e6e6fa !important;
}
.rdt_TableHeadRow:nth-child(1) .rdt_TableCol:nth-child(7) {
  background-color: #ffdab9 !important;
}
.rdt_TableHeadRow:nth-child(1) .rdt_TableCol:nth-child(8) {
  background-color: #d3d3d3 !important;
}
.rdt_TableHeadRow:nth-child(1) .rdt_TableCol:nth-child(9) {
  background-color: #008080 !important;
}
.rdt_TableHeadRow:nth-child(1) .rdt_TableCol:nth-child(10) {
  background-color: #d2b48c !important;
}
.rdt_TableHeadRow:nth-child(1) .rdt_TableCol:nth-child(11) {
  background-color: #00ffff !important;
}
