* {
  font-family: Cambria;
  margin: 0;
  font-size: 18px;
}

body {
  overflow: hidden;
}

/* Conatiner Grid handle */
@media screen and (max-width: 750px) {
  * {
    font-size: 16px;
  }
  .flex-grid-container {
    flex-direction: column !important;
  }
  .flex-grid-body {
    width: 100% !important;
  }

  .flex-grid-fuel-details {
    width: calc(100% - 2px) !important;
  }
}
